<section id="delivery-order" class="delivery-order">
  <div class="delivery-order__content">
    <h2>Как заказать</h2>
    <ul class="delivery-order__list">
      <li class="delivery-order__item">
        <img src="./images/delivery-photo-1.png" width="55px" height="55px" alt="" />
        <h3>Заявка</h3>
        <p>Оставьте заявку удобным для вас способом.</p>
      </li>
      <li class="delivery-order__item">
        <img src="./images/delivery-arrow.png" width="173.98px" height="64.02px" alt="" />
      </li>
      <li class="delivery-order__item">
        <img src="./images/delivery-photo-2.png" width="55px" height="55px" alt="" />
        <h3>Заявка</h3>
        <p>Оставьте заявку удобным для вас способом.</p>
      </li>
      <li class="delivery-order__item">
        <img src="./images/delivery-arrow.png" width="173.98px" height="64.02px" alt="" />
      </li>
      <li class="delivery-order__item">
        <img src="./images/delivery-photo-3.png" width="55px" height="55px" alt="" />
        <h3>Заявка</h3>
        <p>Оставьте заявку удобным для вас способом.</p>
      </li>
    </ul>
  </div>
</section>
