@use '../../node_modules/normalize.css';
@use './variables';
@use 'fonts';


body {
  font-family: variables.$main-font-family;
  font-size: variables.$main-font-size;
  color: variables.$main-text-color;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}

ul {
  padding: 0;
}

.header__container {
  display: flex;
  width: 100%;
  background-color: rgb(245 245 245 / 100%);
  justify-content: center;
  align-items: center;
  padding-top: 24.84px;
  padding-bottom: 9.46px;
  gap: 92px;
}

.logo-wrapper {
  display: flex;
}

.logo-image {
  margin-inline-end: 10px;
  align-self: center;
}

.logo-link {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: variables.$main-text-color;
  line-height: 38.4px;
  letter-spacing: 0;
  text-align: left;
}

.title-wrapper {
  letter-spacing: -0.06em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8.5px;
}

.main-title, .main-title__description {
  font-size: variables.$main-font-size;
  font-weight: bold;
  min-block-size: 20.8px;
  margin: 0;
}

.main-title {
  min-inline-size: 337.58px;
  text-align: center;
}

.main-title__description {
  min-inline-size: 270.72px;
}

.linebottom {
  block-size: 1px;
  background-color: rgb(214 231 255 / 100%);
}

.main-header__nav {
  padding-block: 10px;
  background-color: variables.$accent-background-color;
}

.main-header__nav-list {
  display: flex;
  margin: 0;
  justify-content: center;
  list-style: none;
  gap: 32px;
}

.main-header__nav-link {
  display: block;
  text-decoration: none;
  border-radius: 5px;
  border: 1px transparent solid;
  color: variables.$light-text-color;
  background-color: rgb(255 255 255 / 15%);
  padding: 8px 12px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 25%);
  transition: transform 0.3s;

}

.main-header__nav-link:hover {
  transform: scale(1.1);
  background-color: rgb(255 255 255 / 30%);
}

.contacts {
  display: flex;
  gap: 32.67px;
}

.contacts__phone {
  display: flex;
  flex-direction: column;
  gap: 3.5px;
}

.contacts__phone-number {
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  color: variables.$main-text-color;
  transition: transform 0.3s;
  will-change: transform;
}

.contacts__phone-number:hover {
  transform: scale(1.1);
  border-radius: 5px;
  color: variables.$light-text-color;
  background-color: variables.$main-text-color;
}

.contacts__phone-schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.70px;
  position: relative;
  text-decoration: none;
  color: rgb(38 175 0 / 100%);
  font-family: variables.$main-font-family;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.57px;
  transition: transform 0.3s ease;
}

.contacts__phone-schedule:hover {
  background-color: rgb(40 172 6);
  color: variables.$light-text-color;
  border-radius: 5px;
}

.contacts__phone-schedule::before {
  content: "";
  display: inline-block;
  height: 17px;
  width: 19.44px;
  background-image: url("../images/toggle-header.svg");
}

.contacts__phone-schedule:hover::before {
  background-image: url("../images/toggle-header-white.svg");
}

.contacts__social-list {
  list-style: none;
  margin: 0;
  display: flex;
  gap: 10px;
}

.contacts__social-item {
  transition: transform 0.3s ease;
}

.contacts__social-item:hover {
  transform: scale(1.1);
}

.order {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-block-size: 960px;
}


