@use '../../node_modules/normalize.css';
@use './variables';
@use 'fonts';

::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: variables.$main-font-family;
  font-size: variables.$main-font-size;
  color: variables.$main-text-color;
  box-sizing: border-box;
}

em {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}

ul {
  padding: 0;
}

.header__container {
  display: flex;
  width: 100%;
  background-color: rgb(245 245 245 / 100%);
  justify-content: center;
  align-items: center;
  padding-top: 24.84px;
  padding-bottom: 9.46px;
  gap: 92px;
}

.logo-wrapper {
  display: flex;
}

.logo-image {
  margin-inline-end: 10px;
  align-self: center;
}

.logo-link {
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: variables.$main-text-color;
  line-height: 38.4px;
  letter-spacing: 0;
  text-align: left;
}

.title-wrapper {
  letter-spacing: -0.06em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8.5px;
}

.main-title,
.main-title__description {
  font-size: variables.$main-font-size;
  font-weight: bold;
  min-block-size: 20.8px;
  margin: 0;
}

.main-title {
  min-inline-size: 337.58px;
  text-align: center;
}

.main-title__description {
  min-inline-size: 270.72px;
}

.linebottom {
  block-size: 1px;
  background-color: rgb(214 231 255 / 100%);
}

.main-header__nav {
  padding-block: 10px;
  background-color: variables.$accent-background-color;
}

.main-header__nav-list {
  display: flex;
  margin: 0;
  justify-content: center;
  list-style: none;
  gap: 32px;
}

.main-header__nav-link {
  display: block;
  text-decoration: none;
  border-radius: 5px;
  border: 1px transparent solid;
  color: variables.$light-text-color;
  background-color: rgb(255 255 255 / 15%);
  padding: 5px 12px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 25%);
  transition: transform 0.3s;
  font-size: 17px;
  font-weight: 400;
  line-height: 24.29px;
  letter-spacing: 0;
  text-align: center;
}

.main-header__nav-link:hover {
  transform: scale(1.1);
  background-color: rgb(255 255 255 / 30%);
}

.contacts {
  display: flex;
  gap: 32.67px;
}

.contacts__phone {
  display: flex;
  flex-direction: column;
  gap: 3.5px;
}

.contacts__phone-number {
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  color: variables.$main-text-color;
  transition: transform 0.3s;
  will-change: transform;
}

.contacts__phone-number:hover {
  transform: scale(1.1);
  border-radius: 5px;
  color: variables.$light-text-color;
  background-color: variables.$main-text-color;
}

.contacts__phone-schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6.7px;
  position: relative;
  text-decoration: none;
  color: rgb(38 175 0 / 100%);
  font-family: variables.$main-font-family;
  font-size: 13px;
  font-weight: 400;
  line-height: 18.57px;
  transition: transform 0.3s ease;
}

.contacts__phone-schedule:hover {
  background-color: rgb(40 172 6);
  color: variables.$light-text-color;
  border-radius: 5px;
}

.contacts__phone-schedule::before {
  content: '';
  display: inline-block;
  height: 17px;
  width: 19.44px;
  background-image: url('../images/toggle-header.svg');
}

.contacts__phone-schedule:hover::before {
  background-image: url('../images/toggle-header-white.svg');
}

.contacts__social-list {
  list-style: none;
  margin: 0;
  display: flex;
  gap: 10px;
}

.contacts__social-item {
  transition: transform 0.3s ease;
}

.contacts__social-item:hover {
  transform: scale(1.1);
}

.order {
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 71%;
  min-block-size: 960px;
}

.order__content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 960px;
}

.order__container {
  display: flex;
  flex-direction: column;
  width: 590px;
}

.order__social-contacts {
  display: flex;
  justify-content: center;
  gap: 95.98px;
}

.order__social-whatsapp,
.order__social-telegram {
  width: 215px;
}

.order__social-title {
  color: variables.$light-text-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0;
  text-align: center;
  margin: 0;
}

.order__social-link {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.order__description h2 {
  display: inline-block;
  color: variables.$light-text-color;
  font-size: 36px;
  font-weight: 900;
  line-height: 39.6px;
  letter-spacing: 0;
  text-align: left;
  width: 424.64px;
  margin: 0 0 25.59px;
}

.order__description p {
  color: variables.$light-text-color;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0;
  text-align: left;
}

.policy p {
  margin: 0;
}

.policy p, .policy a {
  color: variables.$light-text-color;
  font-size: 12.8px;
  font-weight: 400;
  line-height: 18.29px;
  letter-spacing: 0;
}

.order__description p:nth-of-type(1) {
  margin: 0 0 15px;
}

.order__description p:nth-of-type(2) {
  margin: 0 0 166px;
}

.order-form {
  display: inline-block;
  color: variables.$light-text-color;
  box-sizing: border-box;
  border: 3px solid variables.$light-text-color;
  border-radius: 15px;
  padding: 37px 25px;
  width: 384px;
  margin-right: 138.72px;
}

.order-form__contact-title {
  color: variables.$light-text-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  letter-spacing: 3.6px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20.6px;
}

.order-form__label-name, .order-form__label-phone, .order-form__services-title {
  display: inline-block;
  color: variables.$light-text-color;
  opacity: 0.8;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.4px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.order-form__input {
  display: block;
  padding: 12px 12px 12px 40px;
  box-sizing: border-box;
  width: 328px;
  border: 1px solid rgb(230 105 30 / 25%);
  border-radius: 8px;
  background: variables.$light-text-color;
  margin-bottom: 24px;
}

.order-form__name, .order-form__phone {
  background-repeat: no-repeat;
  background-position-x: 5px;
  background-position-y: center;
}

.order-form__name {
  background-image: url('../images/user-card.svg');
}

.order-form__phone {
background-image: url('../images/phone.svg');
}

.order-form__services-label {
  display: flex;
  align-items: center;
  gap: 9.7px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.86px;
  letter-spacing: 0;
  text-align: left;
}

.order-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}


.order-form__services-label::before {
  content: '';
  display: block;
  width: 22px;
  height: 22px;
  border: 2px solid rgb(0 0 0 / 25%);
  border-radius: 2px;
  background: variables.$light-text-color;
}

.order-form__services-label:not(:last-child)::before {
  margin-bottom: 8.54px;
}

.order-form__services {
  margin-bottom: 36.84px;
}

.order-form__submit {
  display: block;
  border: none;
  box-sizing: border-box;
  padding: 14px 35px;
  color: variables.$light-text-color;
  font-size: 17px;
  font-weight: 400;
  line-height: 24.29px;
  letter-spacing: 0;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 5px 15px 0 rgb(230 105 30 / 40%);
  background: rgb(230 105 30 / 95%);
  width: 228px;
  margin: 0 auto 16px;
}

.policy {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.policy__link {
  color: variables.$light-text-color;
  text-decoration: underline variables.$light-text-color dashed;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
  text-underline-position: under;
}

.advantage {
  background-color: variables.$light-background-color;
  padding: 60px 0 20px;
}

.advantage__list {
  display: flex;
  gap: 100px;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage__item {
  text-align: center;
}
