@use '../../../styles/variables';

.questions {
  background-color: variables.$light-text-color;
  margin-bottom: 70.5px;

  h2 {
    margin: 0 0 32.39px;
    font-size: 44px;
    font-weight: 400;
    line-height: 48.4px;
    letter-spacing: 0;
    text-align: center;
  }
}

.questions__content {
  width: 770px;
  padding: 0 25px;
  margin: 0 auto;

  details {
    border-radius: 14px;
    box-shadow: 0px 17px 32px -11px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0);
    padding: 30px 19px 19px;
    margin-bottom: 10px;

    &[open] {
      summary {
        border-bottom: 1px solid rgba(51, 51, 51, 0.2);
        padding-bottom: 15px;
      }

      summary::after {
        transform: rotate(180deg);
      }
    }

    summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      text-transform: uppercase;
      cursor: pointer;
    }

    summary::after {
      content: '';
      display: block;
      inset: 0;
      width: 12.5px;
      height: 14px;
      background-image: url('../../../../public/images/questions-arrow.svg');
      transition: transform 0.3s linear;
    }

    &:last-child {
      margin: 0 0 40px;
    }

    p {
      color: variables.$main-text-color-light;
    }
  }
}

.questions__button {
  margin: 0 auto;
  width: 186.11px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  background: rgba(230, 105, 30, 1);
  font-size: 17px;
  line-height: 24.29px;
  letter-spacing: 0;
  text-align: center;
  padding: 14px 0;
  border: none;
  display: block;
}

dialog {
  position: relative;
  padding: 0;
  margin-top: 50px;
  position: fixed;
  width: 320px;
  border-radius: 10px;
  color: #333;
  border-width: 1px;
  font-size: 14px;
  line-height: 1.2;
  background-color:  rgb(245, 245, 245);
  overflow: visible;

  input {
    width: 220px;
    padding: 12px 9.6px;
    color: rgb(0 0 0 / 50%);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

  h2.dialog__title {
    color: white;
    background-color: variables.$main-text-color;
    padding: 20px 0;
    width: 100%;
    margin: 0 0 15px;
    font-size: 28px;
    line-height: 1.1;
    font-weight: bold;
    letter-spacing: 0.8px;
  }


  label {
    align-self: flex-start;
    font-size: 14px;
  }

  textarea {
    width: 220px;
    padding: 12px 9.6px;
    color: rgb(0 0 0 / 50%);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
  }

}

dialog::backdrop {
  background-color: rgb(51 51 51 / 50%);
}

.questions__form {
  padding: 15px 47px;

}

.questions__form-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 30px;
}

.questions__form-button {
  display: block;
  width: 150px;
  padding: 15.56px 0;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  background: rgba(230, 105, 30, 1);
  border: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 24.29px;
  letter-spacing: 0;
  text-align: center;
  margin: 0 auto;
}

.dialog__close {
  position: absolute;
  content: '';
  width: 30px;
  right: -15px;
  top: -15px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  transition: transform 0.2s ease;
}

.dialog__close:hover {
  transform: scale(1.1);
}

.line_left, .line_right {
  background-color: black;
  display: block;
  width: 16px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.line_left {
  transform: translate(-50%, -50%) rotate(135deg);
}

.line_right {
  transform: translate(-50%, -50%) rotate(45deg);
}

