<section id="questions" class="questions">
  <img class="background" src="./images/order-now-header.png" width="100%" height="60px" alt=""/>
  <h2>Вопросы и ответы</h2>
  <div class="questions__content">
    <details class="list__item_hover-scale">
      <summary>Что нужно знать перед заказом доставки?</summary>
      <div class="line"></div>
      <p>
        Нужно знать точный адрес получателя и контактный телефон, габариты и примерный вес заказа,
        желаемый срок доставки, форма оплаты заказа.
      </p>
    </details>
    <details class="list__item_hover-scale">
      <summary>Какие упаковочные материалы вы используете?</summary>
      <p>
        Упакуем груз сами под ваше техническое задание или примем в упакованном вами виде. Мелкие
        посылки упакуем в курьер-пакеты.
      </p>
    </details>
    <details class="list__item_hover-scale">
      <summary>Какие отчетные документы вы предоставляете?</summary>
      <p>
        При работе с юридическими лицами заключается Договор на доставку, по окончании отчетного
        периода оформляется акт выполненных работ и счёт на оплату (отчетный период оговаривается:
        неделя, месяц).
      </p>
    </details>
    <details class="list__item_hover-scale">
      <summary>Вы доставляете только по НИЖНЕМУ НОВГОРОДУ?</summary>
      <p>Доставка осуществляется по всей территории Российской Федерации.</p>
    </details>
  </div>
  <button appOpenDialogQuestions (dialogOpened)="onDialogOpened()" class="questions__button button-orange_hover-scale"
          type="button">Задать вопрос
  </button>
  <dialog appDialogShow appDialogClose (dialogClosed)="onKeyDowned()" [isOpen]="isDialogOpened()">
    <h2 class="dialog__title">Задать вопрос</h2>
    <button appDialogClose class="dialog__close">
      <span class="line_left"></span>
      <span class="line_right"></span>
    </button>
    <form class="questions__form">
      <div class="questions__form-wrapper">
        <label for="name">Имя</label>
        <input id="name" type="text">
        <label for="phone">Номер телефона <sup>*</sup></label>
        <input id="phone" type="tel">
        <label for="question">Ваш вопрос <sup>*</sup></label>
        <textarea rows="2" id="question"></textarea>
      </div>
      <button class="button-orange_hover-scale questions__form-button" type="submit">Отправить</button>
    </form>
  </dialog>
</section>
