<section class="fulfillment">
  <h2>Фулфилмент в Нижнем Новгороде полного цикла (FBO/FBS)</h2>
  <div class="fulfillment__content">
    <div class="advantages">
      <h3 class="visually-hidden">Наши преимущества</h3>
      <div class="advantages__content">
        <article class="card">
          <img src="./images/fulfillment-photo-1.png" alt="Экономия времени и денег" />
          <div class="card__column">
            <h4>Экономия вашего времени и денег</h4>
            <p>
              Вам не потребуется нанимать сотрудников для обеспечения процесса взаимодействия с
              маркетплейсами - мы это сделаем за вас!
            </p>
          </div>
        </article>
        <article class="card">
          <img src="./images/fulfillment-photo-2.png" alt="Качество оказываеммых услуг" />
          <div class="card__column">
            <h4>Качественная упаковка и хранение товара на нашем складе</h4>
            <p>
              Минимизация возвратов, снижение затрат, оптимизация процессов логистики и ускорение
              взаимодействия с заказчиками.
            </p>
          </div>
        </article>
      </div>
    </div>

    <div class="work-process">
      <h3>Процесс работы</h3>
    </div>
  </div>
</section>
