@use '../../../styles/variables';

.fulfillment {
  background-color: variables.$light-background-color;
  box-shadow: 0 107px 0 0 variables.$light-background-color;

  h2 {
    width: 840px;
    margin: 0 auto 68.4px;
    text-align: center;
    font-size: 44px;
    font-weight: 700;
    line-height: 70.4px;
    letter-spacing: 0;
  }

  h3,
  h4,
  p {
    margin: 0;
  }

  h3 {
    font-size: 40px;
    line-height: 64px;
    letter-spacing: 0;
    text-align: center;
  }

  h4 {
    margin: 0 0 8px;
  }

  p {
    color: variables.$main-text-color-light;
    font-size: 17px;
    font-weight: 400;
    line-height: 27.2px;
    letter-spacing: 0;
  }
}

.fulfillment__content {
  width: 1140px;
  margin: 0 auto;
}

.advantages {
  margin: 0 0 81px;
}

.advantages__content {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-shrink: 1;
}

.card__column {
  align-self: start;
}

.work-process h3 {
  margin: 0 0 58px;
}

.work-process {
  margin: 0 0 84px;
}

.work-process__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}

.work-process__content .card {
  max-width: 344px;
}

.fulfillment-info {
  padding: 0;
  margin: 0 0 107px;
  list-style: none;
}

.fulfillment-info__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 17px 32px -11px rgb(0 0 0 / 14%);
  background: rgb(255 255 255 / 100%);
  padding: 20px;
  margin-bottom: 15px;
}

.fulfillment-info__item p {
  color: variables.$main-text-color;
}

.fulfillment-info__item:last-child {
  margin-bottom: 0;
}

.fulfillment-info__item-link {
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 25%);
  background: rgb(102 51 153 / 90%);
  color: variables.$light-text-color;
  font-size: 17px;
  line-height: 24.29px;
  padding: 10px 20px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
