<section id="fulfillment" class="fulfillment">
  <h2>Фулфилмент в Нижнем Новгороде полного цикла (FBO/FBS)</h2>
  <div class="fulfillment__content">
    <div class="advantages">
      <h3 class="visually-hidden">Наши преимущества</h3>
      <div class="advantages__content">
        <article class="card">
          <img src="./images/fulfillment-photo-1.png" alt="Экономия времени и денег" />
          <div class="card__column">
            <h4>Экономия вашего времени и денег</h4>
            <p>
              Вам не потребуется нанимать сотрудников для обеспечения процесса взаимодействия с
              маркетплейсами - мы это сделаем за вас!
            </p>
          </div>
        </article>
        <article class="card">
          <img src="./images/fulfillment-photo-2.png" alt="Качество оказываеммых услуг" />
          <div class="card__column">
            <h4>Качественная упаковка и хранение товара на нашем складе</h4>
            <p>
              Минимизация возвратов, снижение затрат, оптимизация процессов логистики и ускорение
              взаимодействия с заказчиками.
            </p>
          </div>
        </article>
      </div>
    </div>

    <div class="work-process">
      <h3>Процесс работы</h3>
      <div class="work-process__content">
        <article class="card">
          <img src="./images/fulfillment-photo-3.png" alt="Создание заявки" />
          <div class="card__column">
            <h4>Создание заявки</h4>
            <p>Оставьте заявку на сайте, мы свяжемся с вами и обговорим ваши потребности.</p>
          </div>
        </article>
        <article class="card">
          <img src="./images/fulfillment-photo-4.png" alt="Создание заявки" />
          <div class="card__column">
            <h4>Договор</h4>
            <p>Заключаем договор на обговоренных условиях сотрудничества.</p>
          </div>
        </article>
        <article class="card">
          <img src="./images/fulfillment-photo-5.png" alt="Забор груза" />
          <div class="card__column">
            <h4>Забор груза</h4>
            <p>Организовываем забор груза, либо примем груз на складе.</p>
          </div>
        </article>
        <article class="card">
          <img src="./images/fulfillment-photo-6.png" alt="Сортировка и проверка на брак" />
          <div class="card__column">
            <h4>Сортировка и проверка на брак</h4>
            <p>Сортируем товар и проверяем на наличие дефектов.</p>
          </div>
        </article>
        <article class="card">
          <img src="./images/fulfillment-photo-7.png" alt="Упаковка и маркировка" />
          <div class="card__column">
            <h4>Упаковка и маркировка</h4>
            <p>Упаковываем товар и маркируем согласно стандарту маркетплейса.</p>
          </div>
        </article>
        <article class="card">
          <img src="./images/fulfillment-photo-8.png" alt="Отгрузка и сдача товара" />
          <div class="card__column">
            <h4>Отгрузка и сдача товара</h4>
            <p>
              Грузим и отвозим товар на склады маркетплейсов. Wildberries / OZON / Яндекс Маркет
            </p>
          </div>
        </article>
      </div>
    </div>

    <ul class="fulfillment-info">
      <li class="fulfillment-info__item">
        <p>Коммерческое предложение с ценами по услугам Фулфилмента</p>
        <a
          class="fulfillment-info__item-link"
          href="https://drive.google.com/file/d/1dy1mfo5dzfxRc2c-h6eYtBBG0pckWyHW/view"
          target="_blank"
          >Скачать</a
        >
      </li>
      <li class="fulfillment-info__item">
        <p>Прайс цен на междугородние перевозки по Маркетплейсам из Нижнего Новгорода</p>
        <a
          class="fulfillment-info__item-link"
          href="https://drive.google.com/file/d/1fc2ISPSoTfdX0-lYN_VHejSZXkXhIe0-/view"
          target="_blank"
          >Скачать</a
        >
      </li>
      <li class="fulfillment-info__item">
        <p>Актуальное расписание маршрутов по Маркетплейсам (Июль-Август-Сентябрь 2025)</p>
        <a
          class="fulfillment-info__item-link"
          href="https://drive.google.com/file/d/1snSEOIn4u7UTgfoEihZINkD1AOJzkwga/view"
          target="_blank"
          >Скачать</a
        >
      </li>
      <li class="fulfillment-info__item">
        <p>Вступайте в Нижегородский чат селлеров Маркетплейсов в Telegram!</p>
        <a
          class="fulfillment-info__item-telegram"
          href="https://t.me/StrelkaExpressSellersNNchat"
          target="_blank"
          ><img src="./images/telegram-49x49.svg" alt="Telegram"
        /></a>
      </li>
      <li class="fulfillment-info__item">
        <p>
          Удобный Bot в Telegram для оформления заявок на поставку товара на Маркетплейсы (в нем вы
          можете указать город поставки, дату поставки по нашему расписанию, указать объем, вес и
          т.д.)
        </p>
        <a
          class="fulfillment-info__item-telegram"
          href="https://t.me/StrelkaExpressBot"
          target="_blank"
          ><img src="./images/telegram-49x49.svg" alt="Telegram"
        /></a>
      </li>
    </ul>
  </div>
</section>
