<section id="contacts-details" class="contacts-details">
  <h2>Контакты</h2>
  <div class="contacts-details__content">
    <div class="contacts-details__map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3A0249e192fb829e754ca003deadfebe8bb5c4444513880356d628bee9ccb90736&amp;source=constructor"
        title="Карта расположения склада и офиса в Нижнем Новгороде, Московское шоссе, 302К"
        allowfullscreen
        aria-label="Интерактивная карта с расположением офиса"
        loading="lazy"
      ></iframe>
      <p>
        <strong>Адрес склада и офиса</strong>: Нижний Новгород, Московское шоссе, 302К ИНН
        525707533471 ИП Ахунова Е. В.
      </p>
    </div>
    <div class="contacts-details__contacts">
      <div class="contacts-details__wrap">
        <p>Телефон</p>
        <a href="tel:+79200111646" aria-label="Позвонить в стрелка экспресс">+7 920 011-16-46</a>
      </div>
      <div class="contacts-details__wrap">
        <p>Email</p>
        <a href="mailto:StrelkaExpress@yandex.ru" aria-label="Написать в стрелка экспресс"
          >StrelkaExpress&#64;yandex.ru</a
        >
      </div>
      <div class="contacts-details__wrap">
        <p>Связаться в Telegram</p>
        <a href="https://t.me/AlbertAkhunov" aria-label="Связаться в Telegram - Альберт Ахунов"
          ><img src="./images/contacts-telegram.svg" alt="Telegram" width="40px" height="40px"
        /></a>
      </div>
      <div class="contacts-details__wrap">
        <p>Связаться в WhatsApp</p>
        <a
          href="https://api.whatsapp.com/send/?phone=79200111646&text&type=phone_number&app_absent=0"
          aria-label="Связаться в WhatsApp - Альберт Ахунов"
          ><img src="./images/contacts-whatsApp.svg" alt="WhatsApp" width="40px" height="40px"
        /></a>
      </div>
      <div class="contacts-details__wrap">
        <p>Группа ВК</p>
        <a href="https://vk.com/strelkaexpress" aria-label="Группа в ВКонтакте - стрелка экспресс"
          ><img src="./images/contacts-vkontakte.svg" alt="ВКонтакте" width="40px" height="40px"
        /></a>
      </div>
      <div class="contacts-details__wrap">
        <p>Канал Telegram</p>
        <a href="https://t.me/StrelkaExpress" aria-label="Канал Telegram Стрэлка Экспресс"
          ><img src="./images/contacts-telegram.svg" alt="Telegram" width="40px" height="40px"
        /></a>
      </div>
      <div class="contacts-details__wrap">
        <p>Отзывы на Avito</p>
        <a
          href="https://www.avito.ru/brands/i125999998/all?sellerId=101389d5cd14f209055dcdaecb812a29"
          aria-label="Страница в Avito - Альберт Ахунов"
          ><img src="./images/contacts-avito.svg" alt="Avito" width="40px" height="40px"
        /></a>
      </div>
      <div class="contacts-details__wrap">
        <p>Нижегородский чат селлеров Маркетплейсов в Telegram</p>
        <a
          href="https://t.me/StrelkaExpressSellersNNchat"
          aria-label="Нижегородский чат селлеров - стрелка экспресс"
          ><img src="./images/contacts-telegram.svg" alt="Telegram" width="40px" height="40px"
        /></a>
      </div>
      <div class="contacts-details__wrap">
        <p>Bot в Telegram для отправки заявок на поставку товара на Маркетплейсы</p>
        <a href="https://t.me/StrelkaExpressBot" aria-label="Бот в Telegram - стрелка экспресс"
          ><img src="./images/contacts-telegram.svg" alt="Telegram" width="40px" height="40px"
        /></a>
      </div>
    </div>
  </div>
</section>
