<section class="tariffs">
  <h2>Тарифы на доставку груза</h2>
  <div class="tariffs__content">
    <ul class="tariffs__list">
      <li class="tariffs__item">
        <p class="tariffs__item-description">
          Доставка <strong>мелкогабаритных</strong> грузов по Нижнему Новгороду
        </p>
        <p class="conditions">
          <span class="conditions__amount">от 400 ₽ / </span
          ><span class="conditions__dimensions">до 20 кг до 0.2м³</span>
        </p>
        <a class="tariffs__item-link" href="#">Выбрать</a>
      </li>
      <li class="tariffs__item">
        <p class="tariffs__item-description">
          Доставка крупногабаритных грузов по Нижнему Новгороду
        </p>
        <p class="conditions">
          <span class="conditions__amount">от 1000 ₽ / </span
          ><span class="conditions__dimensions">от 0.5м³</span>
        </p>
        <a class="tariffs__item-link" href="#">Выбрать</a>
      </li>
      <li class="tariffs__item">
        <p class="tariffs__item-description">Доставка по Нижегородской области</p>
        <p class="conditions">
          <span class="conditions__amount">от 800 ₽ / </span
          ><span class="conditions__dimensions">до 20 кг до 0.2м³</span>
        </p>
        <a class="tariffs__item-link" href="#">Выбрать</a>
      </li>
      <li class="tariffs__item">
        <p class="tariffs__item-description">Доставка по России</p>
        <p class="conditions">
          <span class="conditions__amount">от 500 ₽ / </span
          ><span class="conditions__dimensions">до 20 кг до 0.2м³</span>
        </p>
        <a class="tariffs__item-link" href="#">Выбрать</a>
      </li>
      <li class="tariffs__item">
        <p class="tariffs__item-description">
          Фулфилмент (хранение, упаковка, маркировка, доставка до складов маркет плейсов, ведение
          личных кабинетов)
        </p>
        <p class="conditions">
          <span class="conditions__amount">от 8 ₽ / </span
          ><span class="conditions__dimensions">единица³</span>
        </p>
        <a class="tariffs__item-link" href="#">Выбрать</a>
      </li>
    </ul>
  </div>
</section>
