<dialog class="dialog-order" open>
  <form class="dialog-order__form">
    <fieldset class="city dialog-order__fieldset">
      <legend>Выберете город отправки</legend>
      <label><input type="radio" name="city" value="Москва">Москва</label>
      <label><input type="radio" name="city" value="Казань">Казань</label>
      <label><input type="radio" name="city" value="Тула">Тула</label>
      <label><input type="radio" name="city" value="Рязань">Рязань</label>
      <label><input type="radio" name="city" value="Новосемейкино">Новосемейкино</label>
      <label><input type="radio" name="city" value="Котовск">Котовск</label>
      <label><input type="radio" name="city" value="Краснодар">Краснодар</label>
      <label><input type="radio" name="city" value="Невонномысск">Невонномысск</label>
      <label><input type="radio" name="city" value="Нижний Новгород">Нижний Новгород</label>
    </fieldset>
    <fieldset class="warehouse dialog-order__fieldset">
      <legend>Выберете склад</legend>
      <label><input type="radio" name="warehouse" value="Wildberries">Wildberries</label>
      <label><input type="radio" name="warehouse" value="Ozon">Ozon</label>
      <label><input type="radio" name="warehouse" value="ЯндексМаркет">ЯндексМаркет</label>
      <label><input type="radio" name="warehouse" value="">Мегамаркет</label>
    </fieldset>
    <input  id="deliveryDate" type="text">
  </form>
</dialog>
