<section class="reviews">
  <img
    class="reviews__header-background"
    src="./images/promo-header.png"
    width="100%"
    height="60px"
    alt="Оценка 5 из 5 на основании 97 отзывов"
  />
  <h2>Отзывы клиентов</h2>
  <div class="reviews__content">
    <img
      class="reviews__content-image"
      src="./images/reviews-header-photo.png"
      width="227.19px"
      height="72.78px"
    />
    <div class="reviews__block">
      <div class="reviews__block-column">
        <button type="button" class="button button-left" aria-label="предыдущий отзыв">
          <img src="./images/button-arrow-left.svg" alt="" />
        </button>
        <div class="reviews__slider">
          <img src="./images/reviews-photo-1.jpg" alt="" />
          <div class="reviews__slider-line"></div>
          <img src="./images/reviews-photo-2.jpg" alt="" />
        </div>
        <button type="button" class="button button-right" aria-label="следующий отзыв">
          <img src="./images/button-arrow-right.svg" alt="" />
        </button>
      </div>
      <div class="reviews__block-pagination">
        <button type="button"></button>
      </div>
    </div>
    <footer class="reviews__block-footer">
      <p><strong>Больше отзывов смотрите на Avito</strong></p>
      <a
        href="https://www.avito.ru/brands/i125999998/all?sellerId=101389d5cd14f209055dcdaecb812a29"
        aria-label="Авито"
        target="_blank"
        ><img src="./images/reviews-avito.svg" width="48px" height="48px" alt="Авито"
      /></a>
    </footer>
  </div>
  <a href="https://yandex.ru/profile/11600063894?intent=reviews">Оставить отзыв</a>
</section>
