<header class="main-header">
  <div class="header__container">
    <div class="logo-wrapper"></div>
    <img class="logo-image" src="./images/logo.png">
    <a class="logo-link" href="#">StrelkaExpress</a>
    <div class="title-wrapper">
      <h1 class="main-title">Служба доставки в Нижнем Новгороде.</h1>
      <p class="main-title__description">Ваше логистическое решение!</p>
    </div>
  </div>
  <nav class="main-header__nav">
    <ul class="main-header__nav-list">
      <li class="main-header__nav-item"><a href="#" class="main-header__nav-link">Виды доставки</a></li>
      <li class="main-header__nav-item"><a href="#" class="main-header__nav-link">Виды доставки</a></li>
      <li class="main-header__nav-item"><a href="#" class="main-header__nav-link">Тарифы</a></li>
      <li class="main-header__nav-item"><a href="#" class="main-header__nav-link">Как заказать</a></li>
      <li class="main-header__nav-item"><a href="#" class="main-header__nav-link">Отзывы</a></li>
      <li class="main-header__nav-item"><a href="#" class="main-header__nav-link">Вопросы и ответы</a></li>
      <li class="main-header__nav-item"><a href="#" class="main-header__nav-link">Контакты</a></li>
    </ul>
  </nav>
</header>
<main>
  <section class="hero"></section>
  <section class="fulfillment"></section>
  <section class="tariff"></section>
  <section class="promo"></section>
  <section class="reviews"></section>
  <section class="questions"></section>
</main>
<footer class="main-footer"></footer>

