<section class="delivery-services">
  <h2>Услуги по перевозке и упаковке грузов</h2>
  <ul class="delivery-services__list" role="list">
    <li class="delivery-services__item">
      <img src="./images/services-photo-1.png">

    </li>
    <li class="delivery-services__item">
      <img src="./images/services-photo-2.jpg">

    </li>
    <li class="delivery-services__item">
      <img src="./images/services-photo-3.png">

    </li>
    <li class="delivery-services__item">
      <img src="./images/services-photo-4.jpg">

    </li>
  </ul>
  <ul class="delivery-services__gallery" role="list">
    <li class="delivery-services__item">
      <h3>Доставка по Нижнему Новгороду.</h3>
      <p>Заберем и доставим груз по Вашему адресу. В срок и безопасно.</p>
    </li>
    <li class="delivery-services__item">
      <h3>Складские услуги для вашего товара.</h3>
      <p>Прием и хранение товара на нашем складе.</p>
    </li>
    <li class="delivery-services__item"><h3>Ежедневные межгородские отправки грузов.</h3>
      <p>Нижний Новгород ⇆ Казань Нижний Новгород ⇆ Москва</p></li>
    <li class="delivery-services__item"><h3>Фулфилмент полного цикла для вашего бизнеса.</h3>
      <p>Упаковка, маркировка, комплектовка товара с дальнейшей доставкой до склада маркетплейса.</p></li>

  </ul>
</section>
