/* You can add global styles to this file, and also import other style files */
@use '../public/scss/main';

*,
*::before,
*::after {
  box-sizing: border-box; // Наследуем от html
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}

.list__item_hover-scale {
  transition: transform 0.3s ease;
}

.list__item_hover-scale:hover {
  transform: scale(1.05);
}

.link_hover-scale {
  transition: transform 0.3s ease;
}

a.link_hover-scale:hover {
  transform: scale(1.1);
  background: rgb(102 51 153 / 70%);
}

.link-social_hover-scale {
  transition: transform 0.3s ease;
}

.link-social_hover-scale:hover {
  transform: scale(1.1);
}

.button-orange_hover-scale {
  transition: transform 0.3s ease;
}

button.button-orange_hover-scale:hover {
  transform: scale(1.1);
  background-color: rgb(211, 94, 23);
}

.dialog__close {
  position: absolute;
  content: '';
  width: 30px;
  right: -15px;
  top: -15px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: white;
  transition: transform 0.2s ease;
}

.dialog__close:hover {
  transform: scale(1.1);
}

.line_left, .line_right {
  background-color: black;
  display: block;
  width: 16px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.line_left {
  transform: translate(-50%, -50%) rotate(135deg);
}

.line_right {
  transform: translate(-50%, -50%) rotate(45deg);
}

dialog::backdrop {
  background-color: rgb(51 51 51 / 50%);
}

.dialog__button {
  padding: 15.56px 0;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
  background: rgba(230, 105, 30, 1);
  border: none;
  font-size: 15px;
  font-weight: 400;
  line-height: 24.29px;
  letter-spacing: 0;
  text-align: center;
  margin: 0 auto 15px;
}
