<section class="promo">
  <img src="./images/promo-header.png" width="100%" height="60px" alt="" />
  <h2 class="visually-hidden">Промо</h2>
  <div class="promo__content">
    <ul class="promo__list">
      <li class="promo__item">
        <article class="promo__card">
          <div class="promo__card-column">
            <h3>Точно и своевременно. Для бизнеса.</h3>
            <p>
              Работаем на взаимовыгодных условиях. Готовы к диалогу и долгосрочному сотрудничеству в
              сфере логистических услуг (b2b, b2c, фулфилмент).
            </p>
            <button type="button">Получить предложение для бизнеса</button>
          </div>
          <img src="./images/promo-photo-1.jpg" width="594px" height="382.44px" />
        </article>
      </li>
    </ul>
  </div>

  <div class="promo__content_light">
    <img src="./images/order-now-header.png" width="100%" height="60px" alt="" />
    <div class="promo__content light">
      <ul class="promo__list">
        <li class="promo__item">
          <article class="promo__card">
            <div class="promo__card-column">
              <h3>Фотоотчет по доставке.</h3>
              <p>Предоставим фотоотчет по запросу.</p>
              <button type="button">Заказать доставку с фотоотчетом</button>
            </div>
            <img src="./images/promo-photo-2.jpg" width="594px" height="396px" />
          </article>
        </li>
      </ul>
    </div>
  </div>
</section>
