@use '../../../styles/variables';

.promo {
  background-color: variables.$light-background-color;
}

.promo__content {
  width: 1140px;
  margin: 0 auto;
}

.promo__list {
  list-style: none;
  padding: 0;
  margin: 0;

  li:nth-child(2) {
    background-color: rgba(255, 255, 255, 1);
  }
}

.promo__item {
  display: flex;

  padding: 0 15px;

  promo__card-column {
    width: 555px;
  }
}

.promo__card {

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  h3 {
    margin: 0 0 11px;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0;
    text-align: left;
  }

  p {
    margin: 0 0 32px;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0;
    text-align: left;
  }

  button {
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
    background: rgba(230, 105, 30, 1);
    border: none;
    width: 221px;
    color: rgba(255, 255, 255, 1);
    font-size: 17px;
    font-weight: 400;
    line-height: 24.29px;
    letter-spacing: 0;
    text-align: center;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
